* {
    box-sizing: border-box;
    font-size: 10px;
}

.calcContainer {
    background-color: rgb(53, 53, 53);
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
}

.calcItems {
    flex: 1 1 20%;
    margin: 5px;
    border-radius: 20px;
    border: none;
    font-size: 2rem;
}

#clear, #backspace {
    flex: 1 1 45%;
    background-color: rgb(255, 115, 115);
}

#display {
    height: 100px;
    align-self: center;
    overflow: auto;
    flex: 1 1 100%;
    overflow: auto;
    background-color: rgb(141, 141, 141);
    color:rgb(24, 24, 24);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

#top {
    font-size: 2rem;
}

#bottom {
    font-size: 4rem;
}

#add, #subtract, #divide, #multiply {
    background-color: rgb(107, 255, 193);
}

.numButton {
    background-color: rgb(236, 236, 236);
}

#decimal, #equals {
    background-color: rgb(149, 160, 255);
}

.numButton:hover {
    background-color:rgb(190, 190, 190) !important;
}

#clear:hover, #backspace:hover {
    background-color: rgb(250, 89, 89);
}

#add:hover, #subtract:hover, #divide:hover, #multiply:hover {
    background-color: rgb(75, 187, 140);
}

#decimal:hover, #equals:hover {
    background-color: rgb(120, 132, 238);

}